.quiz-take-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0rem;
}

.quiz-take-footer .left-buttons {
  position: fixed; /* or absolute */
  top: 670px;
  right: 70px; /* Distance from the right edge of the screen */
}

/* Existing quiz-take-btn styles */
.quiz-take-btn {
  background-color: #7367f0;
  color: #fff;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.quiz-take-btn:hover {
  background-color: #6156ce; /* Slightly darker hover color, for example */
}

.quiz-take-footer,
.some-parent-class {
  position: fixed; /* or absolute */
  top: 670px;
  right: 700px; /* Distance from the right edge of the screen */
}



.timerDisplay {
  font-size: 1rem;
  font-weight: 600;
  color: #333;
}


